<include file='Public/header'/>
    <!--/#header-->

    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                        <volist name="webinformation"  id="vo">
                          <if condition="$vo.type eq filetype">
                            <h1 class="title">{$vo.title}</h1>
                            <p>{$vo.caption}</p>
                          </if>
                        </volist>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#page-breadcrumb-->

    <section id="blog" class="padding-top">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-7">
                    <div class="row">
                <volist name="data" id="vo">    
                         <div class="col-sm-12 col-md-12">
                            <div class="single-blog single-column">
                                <div class="post-thumb">
                                    <a href="{:U('Article/articlelist','','')}/rid/{$vo.id}"><img src="__PUBLIC__/img/uploads/fileimg/{$vo.img}" style="width:850px;height:400px;"></a>
                                    <div class="post-overlay">
                                       <span class="uppercase"><a href="{:U('Article/articlelist','','')}/rid/{$vo.id}">{$vo.day} <br><small>{$vo.month}</small></a></span>
                                   </div>
                                </div>
                                <div class="post-content overflow">
                                    <h2 class="post-title bold"><a href="{:U('Article/articlelist','','')}/rid/{$vo.id}">{$vo.filename}</a></h2>
                                    <h3 class="post-author"><a href="{:U('Article/articlelist','','')}/rid/{$vo.id}">作者：{$vo.adminname}</a></h3>
                                    <p>{$vo.describe}</p>
                                    <a href="{:U('Article/articlelist','','')}/rid/{$vo.id}" class="read-more">View More</a>
                                    <div class="post-bottom overflow">
                                        <ul class="nav navbar-nav post-nav">
                                            <li><a href="{:U('Article/articlelist','','')}/rid/{$vo.id}"><i class="fa fa-tag"></i>{$vo.filetype}</a></li>
                                            <li><a href="{:U('Article/articlelist','','')}/rid/{$vo.id}"><i class="fa fa-heart"></i>{$vo.reader}</a></li>
                                            <li><a href="{:U('Article/articlelist','','')}/rid/{$vo.id}"><i class="fa fa-comments"></i>{$vo.thumbs}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
              </volist>     
                        
                    </div>
                <div class="portfolio-pagination" style="text-align:center;clear:both;">
                    {$page}
                </div>
                 </div>
                <div class="col-md-3 col-sm-5">
                    <div class="sidebar blog-sidebar">
                        <div class="sidebar-item  recent">
                            <h3>评论</h3>
                       <volist name="pinglun" id="vo">
                            <div class="media">
                                <div class="pull-left">
                                    <a href="#"><img src="__PUBLIC__/img/uploads/userimg/{$vo.userimg}" style="width: 52px;height: 52px;" /></a>
                                </div>
                                <div class="media-body">
                                    <h4><a href="#">{$vo.content}</a></h4>
                                    <p>{$vo.username}：{$vo.time|date='Y-m-d H:i:s',###}</p>
                                </div>
                            </div>
                        </volist>
                        </div>
                        <div class="sidebar-item tag-cloud">
                            <h3>分类</h3>
                            <ul class="nav nav-pills">
                              <volist name="articletype" id="vo" key="key">
                                <li><a href="{:U('Article/lst','','')}/type/{$vo.id}">{$vo.type}</a></li>
                              </volist>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#blog-->
   <include file='Public/footer'/>
