<!DOCTYpE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>404</title>
  <link rel="stylesheet" type="text/css" href="../../../kf/public/admin/css/buttons.css">
</head>
<body>
	<p align=center>　</p>
<p align=center>　</p>
<table cellSpacing=0 cellpadding=0 width=540 align=center border=0>
  <tbody>
    <tr>
      <td valign=top height=270><div align=center><br>
          <img height=211 src="../../../kf/public/admin/img/404/error.gif" 
      width=329><br>
          <br>
          <table cellSpacing=0 cellpadding=0 width="100%" border=0>
            <tbody>
              <tr>
                <td><font class=p2>&nbsp;&nbsp;&nbsp; <font color=#ff0000><img 
            height=13 src="../../../kf/public/admin/img/404/emessage.gif" 
            width=12>&nbsp;无法访问本页的原因是：<?php echo strip_tags($e['message']);?></font></font></td>
              </tr>
              <tr><td><p></p></td></tr>
              <tr>
                <td><button type="button" onclick="history.back(-1)" class="button button-primary button-pill button-large">返回首页</button></td>
              </tr>
              <tr><td><p></p></td></tr>
            </tbody>
          </table>
        </div></td>
    </tr>
  </tbody>
</table>
</body>
</html>