<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="洪壮贤">
    <meta name="keyword" content="洪壮贤">
    <link rel="shortcut icon" href="img/favicon.html">

    <title>后台管理</title>

    <!-- Bootstrap core CSS -->
    <link href="__PUBLIC__/admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="__PUBLIC__/admin/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/assets/bootstrap-datepicker/css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/assets/bootstrap-colorpicker/css/colorpicker.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/assets/bootstrap-daterangepicker/daterangepicker.css" />
     <!-- 图标  -->
    <link rel="shortcut icon" href="__PUBLIC__/home/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="__PUBLIC__/home/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="__PUBLIC__/home/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="__PUBLIC__/home/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/home/images/ico/apple-touch-icon-57-precomposed.png">
    <!-- 图标  -->
    <!-- Custom styles for this template -->
    <link href="__PUBLIC__/admin/css/style.css" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/style-responsive.css" rel="stylesheet" />




    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->


  </head>

  <body>

  <section id="container" class="">
      <!--header start-->
      <header class="header white-bg">
          <div class="sidebar-toggle-box">
              <div data-original-title="Toggle Navigation" data-placement="right" class="icon-reorder tooltips"></div>
          </div>
          <!--logo start-->
          <a href="#" class="logo" ><span>香香</span>球球</a>
          <!--logo end-->
          <div class="nav notify-row" id="top_menu">
            <!--  notification start -->
            <ul class="nav top-menu">
              <!-- inbox dropdown start-->
                <li id="header_inbox_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="icon-envelope-alt"></i>
                            <span class="badge bg-important">{$datacount}</span>
                        </a>
                        <ul class="dropdown-menu extended inbox" id="getmessage">
                            <div class="notify-arrow notify-arrow-red"></div>
                            <li>
                                <p class="red">你有条
                                <span id="messcount">{$datacount}
                                </span>留言信息
                                </p>
                            </li>
                <volist name="messdata" id="vo">
                    <li>
                      <a href="{:U('Admin/Message/remess','','')}/id/{$vo.id}">
                        <span class="photo"><img alt="avatar" src="__PUBLIC__/img/uploads/userimg/{$vo.img}"></span>
                        <span class="subject">
                          <span class="from">{$vo.username}</span>
                          <span class="time">{$vo.time}</span>
                        </span>
                        <span class="message">
                          {$vo.content}
                        </span>
                      </a>
                    </li>
                </volist>
                    <li>
                      <a href="{:U('Admin/Message/lst')}">回复留言</a>
                    </li>
                        </ul>
                    </li>
              <!-- inbox dropdown end -->
              <!-- notification dropdown start-->
                    <li id="header_notification_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                            <i class="icon-bell-alt"></i>
                            <span class="badge bg-warning">{$plcount}</span>
                        </a>
                        <ul class="dropdown-menu extended notification">
                            <div class="notify-arrow notify-arrow-yellow"></div>
                            <li>
                                <p class="yellow">你有{$plcount}条新的评论</p>
                            </li>
              <foreach name="pldata" item="vo">
                            <li>
                                <a href="{:U('Article/articledetails','','')}/aid/{$vo.fid}">
                                    <span>
                                      <img alt="avatar" src="__PUBLIC__/img/uploads/userimg/{$vo.userimg}" style="width: 29px;height: 29px;">
                                    </span>
                                    {$vo.content}
                                    <span class="small italic">{$vo.time|date='Y-m-d H:i:s',###}</span>
                                </a>
                            </li>
              </foreach>               
                            <li>
                                <a href="{:U('Admin/Article/articlelist')}">日记管理</a>
                            </li>
                        </ul>
                    </li>
              <!-- notification dropdown end -->
          </ul>
          </div>
          <div class="top-nav ">
              <ul class="nav pull-right top-menu">
                  <!-- user login dropdown start-->
                  <li class="dropdown">
                      <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                          <img alt="" src="__PUBLIC__/img/uploads/admin/{$_SESSION['adminimg']}" style="width: 20px;height: 25px;">
                          <span class="username">{$_SESSION['adminname']}</span>
                          <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu extended logout">
                          <div class="log-arrow-up"></div>
                          <li><a href="{:U('Admin/Image/imglist')}"><i class=" icon-suitcase"></i>相册</a></li>
                          <li><a data-toggle="modal" data-target=".bs-example-modal-sm"><i class="icon-cog"></i> 密码</a></li>
                          <li><a href="{:U('Admin/Message/lst')}"><i class="icon-bell-alt"></i>留言</a></li>
                          <li><a href="{:U('Admin/Login/loginout')}"><i class="icon-key"></i>退出</a></li>
                      </ul>
                  </li>
                  <!-- user login dropdown end -->
              </ul>
          </div>
      </header>
      <!--header end-->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu">
                  <li class="sub-menu">
                      <a class="" href="{:U('Admin/Index/index')}">
                          <i class="icon-dashboard"></i>
                          <span>首页</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" class="">
                          <i class="icon-book"></i>
                          <span>文章管理</span>
                          <span class="arrow"></span>
                      </a>
                      <ul class="sub">
                          <li><a class="" href="general.html">日记发表</a></li>
                          <li><a class="" href="buttons.html">日记管理</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" class="">
                          <i class="icon-group"></i>
                          <span>用户管理</span>
                          <span class="arrow"></span>
                      </a>
                      <ul class="sub">
                          <li><a class="" href="{:U('Admin/User/user')}">新增用户</a></li>
                          <li><a class="" href="{:U('Admin/User/lists')}">用户列表</a></li>
                          <li><a class="" href="{:U('Admin/User/group')}">用户组</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu active">
                      <a href="javascript:;" class="">
                          <i class="icon-tasks"></i>
                          <span>图片管理</span>
                          <span class="arrow"></span>
                      </a>
                      <ul class="sub">
                          <li><a class="" href="{:U('Admin/Image/imglist')}">图片管理</a></li>
                          <li><a class="" href="{:U('Admin/Image/typelist')}">分类管理</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" class="">
                          <i class="icon-th"></i>
                          <span>视频管理</span>
                          <span class="arrow"></span>
                      </a>
                      <ul class="sub">
                          <li><a class="" href="{:U('Admin/Audio/audiolist')}">视频管理</a></li>
                          <li><a class="" href="{:U('Admin/Audio/typelist')}">分类管理</a></li>
                      </ul>
                  </li>
                  <li>
                      <a class="" href="{:U('Admin/Message/lst')}">
                          <i class="icon-envelope"></i>
                          <span>留言管理</span>
                          <span class="label label-danger pull-right mail-info">{$datacount}</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" class="">
                          <i class="icon-glass"></i>
                          <span>系统设置</span>
                          <span class="arrow"></span>
                      </a>
                      <ul class="sub">
                          <li><a class="" href="{:U('Admin/Setting/lunbo')}">轮播设置</a></li>
                          <li><a class="" href="{:U('Admin/Setting/sms')}">短信配置</a></li>
                          <li><a class="" href="{:U('Admin/Setting/lst')}">标题设置</a></li>
                            <li><a class="" href="{:U('Admin/Setting/indexlst')}">底部设置</a></li>
                      </ul>
                  </li>
                  <li>
                      <a class="" href="{:U('Admin/Login/loginout')}">
                          <i class="icon-user"></i>
                          <span>用户退出</span>
                      </a>
                  </li>
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
              <!-- page start-->
              <div class="row">
              <!--普通用户添加-->
                  <div class="col-lg-6">
                      <section class="panel">
                          <header class="panel-heading">
                              修改图片
                          </header>
                          <div class="panel-body">
                <volist name='date' id='vo'> 
                  <form role="form">
                    <div class="form-group">
                      <label for="exampleInputEmail1">头像
                      </label>
                      <!---->
                      <!--头像-->
                      <div class="ibox-content">
                        <div class="row">
                            <div id="crop-avatar" class="col-md-6">
                              <div class="avatar-view" style="width:160px;height:160px">
                              <input  id="img" name="img" type="hidden" value="{$vo.img}">
                              <input  id="aspectRatio" type="hidden" value="1">
                              <input  id="img_root_url" type="hidden" value="__PUBLIC__/img/uploads/imgs">
                              <img src="__PUBLIC__/img/uploads/imgs/{$vo.img}" alt="点击修改图片" style="width:160px;height:160px">
                              </div>
                            </div>
                        </div>
                      </div>
                      <!--头像-->
                      <!---->
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">描述</label>
                        <input type="text" class="form-control" id="describe" placeholder="描述" name="describe" value="{$vo.describe}">
                        <input type="hidden" class="form-control" id="imgid"  name="imgid" value="{$vo.id}">
                    </div>
                    <button type="button" class="btn btn-info" onClick="updateimg()">修改
                    </button>
                  </form>
                </volist>
                          </div>
                      </section>
                  </div>
                <!--普通用户添加-->
                  <div class="col-lg-6">
                      <section class="panel">
                          <header class="panel-heading">
                             
                          </header>
                          <div class="panel-body">
                         <!--内容-->
                         <!--内容-->
                          </div>
                      </section> 
            </div>
           <!---普通用户添加 -->
              </div>
              <!-- page end-->
          </section>
      </section>
      <!--main content end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="__PUBLIC__/admin/js/jquery.js"></script>
    <script src="__PUBLIC__/admin/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/admin/js/jquery.scrollTo.min.js"></script>
    <script src="__PUBLIC__/admin/js/jquery.nicescroll.js" type="text/javascript"></script>

    <script src="__PUBLIC__/admin/js/jquery-ui-1.9.2.custom.min.js"></script>

    <!--custom switch-->
    <script src="__PUBLIC__/admin/js/bootstrap-switch.js"></script>
    <!--custom tagsinput-->
    <script src="__PUBLIC__/admin/js/jquery.tagsinput.js"></script>
    <!--custom checkbox & radio-->
    <script type="text/javascript" src="__PUBLIC__/admin/js/ga.js"></script>

    <script type="text/javascript" src="__PUBLIC__/admin/assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/assets/bootstrap-daterangepicker/date.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/assets/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/assets/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/assets/ckeditor/ckeditor.js"></script>


  <!--common script for all pages-->
    <script src="__PUBLIC__/admin/js/common-scripts.js"></script>

  <!--script for this page-->
  <script src="__PUBLIC__/admin/js/form-component.js"></script>
  <!---头像模态框-->
<link href="__PUBLIC__/img_cut_upload/css/cropper.min.css" rel="stylesheet">
<link href="__PUBLIC__/img_cut_upload/css/sitelogo.css" rel="stylesheet">
<script src="__PUBLIC__/img_cut_upload/js/cropper.min.js"></script>
<script src="__PUBLIC__/img_cut_upload/js/sitelogo.js"></script>
<div class="modal fade" id="avatar-modal" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-lg"  style="width:1000px;">
    <div class="modal-content">
      <form class="avatar-form" action="{:U('Image/updateimg',array('id'=>$imgid))}" enctype="multipart/form-data" method="post">
        <div class="modal-header">
          <button class="close" data-dismiss="modal" type="button">&times;</button>
          <h4 class="modal-title" id="avatar-modal-label">图片修改</h4>
        </div>
        <div class="modal-body">
          <div class="avatar-body">
            <div class="avatar-upload">
              <input class="avatar-src" name="avatar_src" id="avatar_src" type="hidden">
              <input class="avatar-data" name="avatar_data" type="hidden">
              <label for="avatarInput">图片上传</label>
              <input class="avatar-input" id="avatarInput" name="avatar_file" type="file" style="display:none;"></div>
              <img src="__PUBLIC__/images/shangchuang.png" onclick="$('#avatarInput').click();">
            <div class="row">
              <div class="col-md-9">
                <div class="avatar-wrapper"></div>
              </div>
              <div class="col-md-3">
                <div class="avatar-preview preview-lg"></div>
                <div class="avatar-preview preview-md"></div>
                <div class="avatar-preview preview-sm"></div>
              </div>
            </div>
            <div class="row avatar-btns">
              <div class="col-md-9">
                <div class="btn-group">
                  <button class="btn" data-method="rotate" data-option="-90" type="button" title="Rotate -90 degrees"><i class="fa fa-undo"></i> 向左旋转</button>
                </div>
                <div class="btn-group">
                  <button class="btn" data-method="rotate" data-option="90" type="button" title="Rotate 90 degrees"><i class="fa fa-repeat"></i> 向右旋转</button>
                </div>
              </div>
              <div class="col-md-3">
                <button class="btn btn-success btn-block avatar-save" type="submit"><i class="fa fa-save"></i> 保存修改</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>
<!---头像模态框-->
  <!--弹框样式-->
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/layer/skin/layer.css">
  <script src="__PUBLIC__/layer/layer.js"></script>
  <!--弹框样式-->
  <!-- 密码修改 -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
       <!--  -->
      <section class="panel">
        <header class="panel-heading">
                              密码修改
        </header>
        <div class="panel-body">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="inputEmail1" class="col-lg-2 control-label">密码</label>
              <div class="col-lg-10">
               <input type="password" class="form-control" id="pwd" name="pwd" placeholder="密码">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword1" class="col-lg-2 control-label">重复密码</label>
              <div class="col-lg-10">
                <input type="password" class="form-control" id="pwds" name="pwds" placeholder="重复密码">
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-offset-2 col-lg-10">
                <button type="button" class="btn btn-danger" onclick="editpwd()">修改</button>
              </div>
            </div>
          </form>
        </div>
      </section>
       <!--  -->
    </div>
  </div>
</div>
<script type="text/javascript">
    function editpwd(){
      var pwd=$('#pwd').val();
      var pwds=$('#pwds').val();
      var ajaxeditpwdUrl='{:U("Index/editpwd")}'; 
      if((pwd=='')||(pwds=='')){
          layer.msg('密码不允许为空');
      }
      if((pwd!='')&&(pwds!='')){
          if(pwd!=pwds){
            layer.msg('两次密码不一致');
          }else{
        /*ajax提交*/
        $.ajax({
      //提交数据的类型 POST GET
        type: "POST",
      //提交的网址
        url: ajaxeditpwdUrl,
      //提交的数据
        data: {pwd:pwd},
      //返回数据的格式
        datatype: "json",
      //成功返回之后调用的函数
        success: function (data) {
      ////根据ajax返回参数判断验证码发送情况
        if(data['status']=="1"){
            layer.msg('修改成功!'); 
            window.location.href="{:U('/Admin/Login/login')}";
        }else{
            layer.msg('没有修改！');   
        }
      ////根据ajax返回参数判断验证码发送情况
        }
     });
        /*ajax提交*/ 
          }
      }
    }
</script>
<!-- 密码修改 -->
  <!-- 用户修改  -->
  <script type="text/javascript">
    function updateimg(){
		var imgdescribe=$('#describe').val();
		var imgid=$('#imgid').val();
		var ajaximgUrl='{:U("Image/editimg")}'; 
    //<!--ajax提交-->
	    $.ajax({
      //提交数据的类型 POST GET
        type: "POST",
      //提交的网址
        url: ajaximgUrl,
      //提交的数据
        data: {imgdescribe:imgdescribe,imgid:imgid},
      //返回数据的格式
        datatype: "json",
      //成功返回之后调用的函数
        success: function (data) {
      ////根据ajax返回参数判断验证码发送情况
        if(data['status']=="1"){
            layer.msg('修改成功!'); 
			      window.location.reload();
        }else{
            layer.msg('未知错误!');   
        }
      ////根据ajax返回参数判断验证码发送情况
        }
     });
	//<!--ajax提交-->
	}
  </script>
  <!-- 用户修改   -->
  </body>
</html>
